﻿
<div ng-controller="LandlordController" data-ng-init="getContracts()" >
    <button class="btn btn-default" ng-click="addContract()">Create Contract</button>
<div class="contract" ng-repeat="contract in contracts" style="border:1pt solid dotted; width:50%; margin: 0 auto;">
    <form editable-form name="editableForm" onaftersave="saveContract($data, contract.id)">
        <div class="buttons">
            <!-- button to show form -->
            <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                Edit
            </button>
            <!-- buttons to submit / cancel form -->
            <span ng-show="editableForm.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                </button>
            </span>
            <button class="btn btn-danger" ng-click="deleteContract($index)">delete</button>
        </div>
        <table class="table borderless table-bordered">
            <tr>
                <td>
                    <label for="usr">{{'House ID : '}}</label>
                    <span editable-text="contract.houseid" e-name="id" e-required class="text-primary fa-border">{{contract.HouseId}}</span>
                </td>
                <td>
                    <label for="usr">{{'Landlord ID: '}}</label>
                    <span editable-text="contract.landlordid" e-name="landlordid" class="text-primary fa-border">{{contract.LandlordId }}</span>
                </td>
            </tr>
        </table>

        <div editable-textarea="contract.Contract" style="text-align:center; with:100%; margin:0 auto; height:1in; border-radius:15px; border:1pt solid gray;">
            <span>HOUSE CONTRACT</span><br />
            {{contract.Contract}}
        </div>
    </form>
</div>
</div>
