﻿<!DOCTYPE html>
<html ng-app="LevelerAngularMVC">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Leveler</title>
    @Styles.Render("~/Content/css")
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>

    <!-- CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.css" />

    <!-- Firepad -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.css" />
    <script src="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.min.js"></script>
    @Scripts.Render("~/bundles/LevelerAngularMVC")
    @*@Scripts.Render("~/bundles/modernizr")*@


</head>
<body data-spy="scroll" style="padding-bottom:0; padding-top:0px;">
    <div name="header" style="height:10%; overflow:hidden;">
        <div class="container">
            <ul id="gn-menu" class="gn-menu-main">
                <li class="gn-trigger">
                    @if (User.Identity.IsAuthenticated)
                    {
                       <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                        <nav class="gn-menu-wrapper">
                            <div class="gn-scroller">
                                <ul class="gn-menu">
                                    <li class="gn-search-item">
                                        <input placeholder="Search" type="search" class="gn-search">
                                        <a class="gn-icon gn-icon-search"><span>Search</span></a>
                                    </li>
                                    <li>
                                        <a href="#/Profile" class="gn-icon gn-icon-download">Home</a>
                                    </li>
                                    <li><a href="#/Trade" class="gn-icon gn-icon-cog">Trade</a></li>
                                    <li><a href="#/Events" class="gn-icon gn-icon-help">Events</a></li>
                                    <li>
                                        <a href="#/Neighbor" class="gn-icon gn-icon-archive">Neighborhood</a>
                                    </li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                    @Html.AntiForgeryToken()
                                    <li>
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="gn-icon gn-icon-download">Log Off</a>
                                    </li>
                                    }
                                </ul>
                            </div><!-- /gn-scroller -->
                        </nav>
                    }
                </li>
                <li><a href="#">Leveler</a></li>
                <li>
                    <ul class="company-social">
                        <li class="social-facebook"><a href="#" target="_blank"><i class="fa ">N</i></a></li>
                        <li class="social-twitter"><a href="#" target="_blank"><i class="fa">R</i></a></li>
                        @*<li class="social-dribble"><a href="#" target="_blank"><i class="fa"></i></a></li>*@
                        <li class="social-google"><a href="@Url.Action("AccountSetting/1", "Account")"><i class="fa">S</i></a></li>
                        @*<li class="social-google"><i class="fa">@Html.ActionLink("S", "Account")</i></li>*@
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div style="height:90%;">
        @RenderBody()
    </div>
    @*<div style="height:10%; overflow:hidden;">
            <footer>
                <p>Leveler &copy; - @DateTime.Now.Year</p>
            </footer>
        </div>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ninestars")
    @RenderSection("scripts", required: false)
</body>
</html>
