﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2>Error occured in @Model.ControllerName / @Model.ActionName</h2>

<h1>@Model.Exception.Message</h1>
<h1>Stack Trace</h1>
<p>@Model.Exception.StackTrace</p>

