﻿@using Leveler.Mvc.Models
@model AccountSettingViewModel
@{
    ViewBag.Title = "AccountSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="@Url.Content("~/Content/xeditable.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("/Scripts/xeditable.js")"></script>*@


<style>
    .setting
    {
        -webkit-box-shadow: 0px 4px 14px 5px rgba(0,0,0,0.56);
        -moz-box-shadow: 0px 4px 14px 5px rgba(0,0,0,0.56);
        box-shadow: 0px 4px 14px 5px rgba(0,0,0,0.56);
        height:2in; width:50%; 
        margin:0 auto; 
        margin-top:.3in; 
        background-color:white;
    }
</style>

<div style="width:100%; height:1in; overflow:hidden; text-align:center; background-color:#52d652; font-size:20pt; font-weight:bold; color:white;height: 90px;
  line-height: 90px;">
        Account Setting
</div>

<script>
    SetUser("@Model.FirstName","@Model.Lastname","@Model.Email","@Model.PhoneNumber","@Model.UserName","@Model.Password");
</script>
<div ng-controller="AccountController" style="height:10in; width:100%; background-color: #f1f1f1; ">

    <section id="accountsetting">
        <form editable-form name="editableForm"  onaftersave="saveUser()" class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="setting" style="margin-top:0!important;">
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <span class="form-control" editable-text="user.name" e-name="name" onbeforesave="checkName($data)" e-required>
                            {{ user.name || 'empty' }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Lastname, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <span class="form-control" editable-text="user.last_name" e-name="last_name" onbeforesave="checkName($data)" e-required>
                            {{ user.last_name || 'empty' }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <span class="form-control" editable-text="user.email" e-name="email" onbeforesave="checkName($data)" e-required>
                            {{ user.email || 'empty' }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="setting">
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <span class="form-control" editable-text="user.phonenumber" e-name="phonenumber" onbeforesave="checkName($data)" e-required>
                            {{ user.phonenumber || 'empty' }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <span class="form-control" editable-text="user.username" e-name="username" onbeforesave="checkName($data)" e-required>
                            {{ user.username || 'empty' }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="setting">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <span class="form-control" editable-text="user.password" e-name="password" onbeforesave="checkName($data)" e-required>
                            {{ user.password || 'empty' }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <!-- button to show form -->
                <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                    Edit
                </button>
                <!-- buttons to submit / cancel form -->
                <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                        Save
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                        Cancel
                    </button>
                </span>
            </div>
        </form>
</section>
</div>
