﻿@using Leveler.Mvc.Models
@model LoginViewModel

<section id="contact" class="home-section text-center">
    <div class="heading-contact marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Welcome</h2>
                        <p>Glad to see you back!</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-offset-2">
                <div class="boxed-grey">
                    <div class="row">
                        @using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", ng_submit = "submit()" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email)

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", required = "required", placeholder = "Enter Email", id = "Email" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password)
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", required = "required", placeholder = "Enter Password", id = "Password" })
                                </div>
                                <input type="submit" value="Log in" class="btn btn-skin pull-right" />
                            </div>
                        }
                        <p>Don't have an account? <a ui-sref="register">Signup</a></p>
                        @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })


                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

