﻿@{
    Layout = null;
}
<div style="height:10%; width:100%;">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#">Active</a></li>
        <li role="presentation"><a href="#">All</a></li>
        <li role="presentation"><a href="#">History</a></li>
    </ul>
</div>
