﻿@{
    Layout = null;
}
<style>
.borderless td {
    border: none!important;
}
/*table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}*/
</style>

@if ((string)ViewBag.UserType == "Personal")
{
    <div ng-controller="ProfileController" data-ng-init="GetBills()">
        <div style="height:10%; width:100%;">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a href="" ng-click="GetBills()">Bills</a></li>
                <li role="presentation" class="active"><a href="" ng-click="GetDeals()">Deals</a></li>
                <li role="presentation"><a href="#">History</a></li>
            </ul>
        </div>
        <div ng-include="template.url" style="height:80%; width:100%;">
        </div>
    </div>
}

@if ((string)ViewBag.UserType == "Student")
{
}

@if ((string)ViewBag.UserType == "Landlord")
{
    <div ng-controller="LandlordController" data-ng-init="GetHomes()">
        <div style="height:10%; width:100%;">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a href="" ng-click="GetHomes()">Homes</a></li>
                <li role="presentation" class="active"><a href="" ng-click="">Users</a></li>
                <li role="presentation" class="active"><a href="" ng-click="GetContracts()">Contract</a></li>
            </ul>
        </div>
        <div ng-include="template.url" style="height:80%; width:100%;">
        </div>
    </div>
}
 
@if ((string)ViewBag.UserType == "Business")
{
}


