﻿@{
    Layout = null;
}
<div style="height:10%; width:100%;">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#">Activities</a></li>
        <li role="presentation"><a href="#">Groups</a></li>
        <li role="presentation"><a href="#">Live</a></li>
    </ul>
</div>
