﻿@{
    Layout = null;
}
<div ng-controller="TradeController">
    <div style="height:10%; width:100%;">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active"><a href="" ng-click="GetTrades()">Active</a></li>
            <li role="presentation"><a href="#">All</a></li>
            <li role="presentation"><a href="#">History</a></li>
        </ul>
    </div>
    <div style="height:90%; width:100%;">
        <ul>
            <li ng-repeat="trade in trades">
                <p>{{'Active:'+trade.Active}}</p>
                <p>{{'Item: '+trade.Item}}</p>
                <p>{{'Id: '+trade.Id}}</p>
                <p>{{'Category: '+trade.Category}}</p>
                <p>{{'Description: '+trade.Description}}</p>
            </li>
        </ul>
    </div>
</div>
