﻿<!--Bill Section-->
    <div id="bill" ng-repeat="bill in bills" class="">
    <form editable-form name="editableForm" onaftersave="saveBill($data, bill.Id)">
        <div class="buttons">
            <!-- button to show form -->
            <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                Edit
            </button>
            <!-- buttons to submit / cancel form -->
            <span ng-show="editableForm.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                </button>
            </span>
              <button class="btn btn-danger" ng-click="removeBill($index)">del</button>
        </div>
        <table class="table borderless table-bordered">
            <tr>
                <td>
                    <label for="usr">{{'Amount: '}}</label>
                    <span editable-text="bill.Amount" e-name="Amount" onbeforesave="GetId(user.id)" e-required class="text-primary fa-border">{{bill.Amount || 'empty'}}</span>
                </td>
                <td>
                    <label for="usr">{{'HouseId: '}}</label>
                    <span editable-text="bill.HouseId" e-name="name" class="text-primary fa-border">{{bill.HouseId }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="usr">{{'Id: '}}</label>
                    <span editable-text="bill.Id" e-name="name" class="text-primary fa-border">{{bill.Id || 'empty'}}</span>
                </td>
                <td>
                    <label for="usr">{{'Status: '}}</label>
                    <span editable-text="bill.Status" e-name="name" class="text-primary fa-border">{{bill.Status || 'empty'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="usr">{{'Nickname: '}}</label>
                    <span editable-text="bill.Nickname" ng-model="bill.nickname" e-name="name" class="text-primary fa-border">{{bill.Nickname || 'empty'}}</span>
                </td>
                <td>
                    <label for="usr">{{'DueDate: '}}</label>
                    <span editable-text="bill.DueDate" e-name="name" class="text-primary fa-border">{{bill.DueDate || 'empty'}}</span>
                </td>
            </tr>
        </table>
    </form>
</div>
<button class="btn btn-default" ng-click="addBill()">Add row</button>
<!--End of Bill Section-->
