﻿ <!--Deal section-->
<div id="deal" ng-repeat="deal in deals" class="">
    <form editable-form name="editableForm" onaftersave="saveDeal($data, deal.Id)">
        <div class="buttons">
            <!-- button to show form -->
            <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                Edit
            </button>
            <!-- buttons to submit / cancel form -->
            <span ng-show="editableForm.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                </button>
            </span>
        </div>
        <table class="table borderless table-bordered">
            <tr>
                <td>
                    <label for="usr">{{'Company: '}}</label>
                    <span editable-text="deal.Company" e-name="Company" onbeforesave="" e-required class="text-primary fa-border">{{deal.Company || 'empty'}}</span>
                </td>
                <td>
                    <label for="usr">{{'HouseId: '}}</label>
                    <span editable-text="deal.HouseId" e-name="name" class="text-primary fa-border">{{deal.HouseId }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="usr">{{'Expire: '}}</label>
                    <span editable-text="deal.Expire" e-name="name" class="text-primary fa-border">{{deal.Expire || 'empty'}}</span>
                </td>
                <td>
                    <label for="usr">{{'Status: '}}</label>
                    <span editable-text="deal.Status" e-name="name" class="text-primary fa-border">{{deal.Status || 'empty'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="usr">{{'Description: '}}</label>
                    <span editable-text="deal.Description" e-name="Description" class="text-primary fa-border">{{deal.Description || 'empty'}}</span>
                </td>
                <td>
                    <label for="usr">{{'Item: '}}</label>
                    <span editable-text="deal.Item" e-name="name" class="text-primary fa-border">{{deal.Item || 'empty'}}</span>
                </td>
            </tr>
        </table>
    </form>
</div>
<!--End of Deal section-->
