﻿
@{
    ViewBag.Title = "Home-in loadiladlkf";
}

<script>alert($scope.hello);</script>
<!--Home Section-->
<div id="home" ng-repeat="home in homes" class="" style="border:1pt solid dotted;">

    <form editable-form name="editableForm" onaftersave="saveHome($data, Home.Id)">
        <div class="buttons">
            <!-- button to show form -->
            <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                Edit
            </button>
            <!-- buttons to submit / cancel form -->
            <span ng-show="editableForm.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                </button>
            </span>
            <button class="btn btn-danger" ng-click="removeHome($index)">del</button>
        </div>
        <table class="table borderless table-bordered">
            <tr>
                <td>
                    <label for="usr">{{'Home: '}}</label>
                    <span editable-text="bill.Amount" e-name="Amount" onbeforesave="GetId(user.id)" e-required class="text-primary fa-border">{{home.name || 'empty'}}</span>
                </td>
                <td>
                    <label for="usr">{{'House URL: '}}</label>
                    <span editable-text="bill.HouseId" e-name="name" class="text-primary fa-border">{{home.url }}</span>
                </td>
            </tr>
        </table>
    </form>
</div>
<button class="btn btn-default" ng-click="addHome()">Add row</button>
<!--End of Home Section-->

