﻿
@{
    ViewBag.Title = "Landlord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Landlord</h2>

<div class="list-group" style="width:25%; padding-top:10%;float:left;">
    <a href="#" class="list-group-item active">
        Menu
    </a>
    <a href="#/Profile" class="list-group-item">FP</a>
    <a href="@Url.Action("Contract", "Landlord" )" class="list-group-item">Contract</a>
    <a href="#/Trade" class="list-group-item">HS</a>
    <a href="#/Events" class="list-group-item">TR</a>
</div>

<div style="width:60%;float:left;" ng-view></div>