﻿
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student</h2>

<div class="list-group" style="width:25%; padding-top:10%;float:left;">
    <a href="#" class="list-group-item active">
            Menu
        </a>
        <a href="#/Profile" class="list-group-item">FP</a>
        <a href="#/Neighbor" class="list-group-item">RM</a>
        <a href="#/Trade" class="list-group-item">HS</a>
        <a href="#/Events" class="list-group-item">TR</a>
</div>

<div style="width:60%;float:left;" ng-view></div>