﻿

@{
    ViewBag.Title = "Home Page";
}

<div style="background-image:url('~/images/img-bg.jpg'); background-size:cover;">

</div>


<div ui-view>
    @Html.Partial("~/Views/Account/Login.cshtml")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}