﻿<script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
@{
    ViewBag.Title = "Landing Page";

}

<script>

    function returnContent() {
        $.get('@Url.Action("Bills","Home")', function (data) {
            $('.content').replaceWith(data);
        });
    }
    
 
</script>
<div class="list-group" style="width:20%; padding-top:10%;float:left;">
    <a href="#" class="list-group-item active">
        Menu
    </a>
    <a href="#" class="list-group-item">My House</a>
    <input type="button" onclick="returnContent();" class="list-group-item" value="Neighbors">
    <a href="#" class="list-group-item">PH</a>
    <a href="#" class="list-group-item">PH</a>


</div>

<div class="info-container">
    <div style="height:10%; width:100%;">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active"><a href="#">Bills</a></li>
            <li role="presentation"><a href="#">Deals</a></li>
            <li role="presentation"><a href="#">History</a></li>
        </ul>
    </div>
    <div id="content" style="height:90%; width:100%;">
        
    </div>
</div>